@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

/* font sizes: 12px, 14px, 20px, 22px, 33px, 44px */

:root {
  --day-background-color: #e6e6ee;
  --day-color-shadow: #d2d2da;
  --night-background-color: #0e1f31;
  --night-color-shadow: #0a1522;
  --scrollbar-color: #0e1f31;
  --day-neuromorphism-color-1: #cfcfd6;
  --day-neuromotphism-color-2: #fdfdff;
  --night-neuromorphism-color-1: #08131d;
  --night-neuromorphism-color-2: #142b45;
  --day-additional-color: #f3c950;
  --night-additional-color: #d5d5d5;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}
/* _______________________ */

/* Scrollbar */
*::-webkit-scrollbar {
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--day-background-color);
  border-radius: 15px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border: 0px solid var(--day-background-color);
  border-radius: 15px;
}

/* _________________________________________ */
/* Logo Container */
/* _________________________________________ */
.logo-container {
  margin-top: 20px;

  display: inline-grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  gap: 0 10px;

  color: var(--night-background-color);
  letter-spacing: -0.5px;
  text-shadow: 2px -2px 5px var(--day-color-shadow);
  text-align: left;
}
.logo-icon {
  width: 60px;

  align-self: center;
  filter: invert(88%) sepia(79%) saturate(5069%) hue-rotate(318deg)
    brightness(102%) contrast(91%);
}

/* _________________________________________ */
/* Search Container */
/* _________________________________________ */
.search-container {
  margin-top: 25px;
}
.search-container form {
  display: inline-grid;
  grid-template-columns: repeat(2, auto);
  gap: 5px;

  position: relative;
}
.search-container input[type="text"] {
  width: 210px;
  height: 25px;
  padding: 3px 20px 3px 10px;
  border: 2px solid var(--night-additional-color);
  border-radius: 12px;

  font-size: 12px;
  box-sizing: border-box;
  align-self: center;
}
.search-container input[type="text"]:focus {
  margin: -1.5px 0;
  border: 3px solid var(--night-additional-color);

  outline: none;
}
.geolocation-icon {
  width: 18px;

  position: absolute;
  top: 5.5px;
  right: 40px;

  filter: invert(88%) sepia(79%) saturate(5069%) hue-rotate(318deg)
    brightness(102%) contrast(91%);
}
.geolocation-icon:hover {
  cursor: pointer;
}

.search-button {
  border-radius: 100%;

  display: inline-block;

  background-color: var(--night-additional-color);
  transition: 0.3s;
}
.search-icon {
  width: 15px;
  margin: 7px;

  vertical-align: middle;
  filter: invert(9%) sepia(21%) saturate(2140%) hue-rotate(172deg)
    brightness(93%) contrast(94%);
}
.search-button:hover {
  background-color: var(--night-background-color);
  cursor: pointer;
}
.search-button:hover .search-icon {
  filter: invert(90%) sepia(0%) saturate(5%) hue-rotate(166deg) brightness(83%)
    contrast(97%);
}

/* _________________________________________ */
/* Weather Container */
/* _________________________________________ */

.weather-container {
  height: 440px;
  margin: 50px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  letter-spacing: -0.5px;

  opacity: 0;
  transition: 1s;
}

/* _________________________________________ */
/* IMG Container */
/* _________________________________________ */

.img-container {
  width: 250px;
  padding: 25px;
  border-radius: 20px 0 0 20px;

  position: relative;

  box-sizing: border-box;
  overflow: hidden;

  text-align: right;
}
.time-img {
  width: 100%;

  position: absolute;
  right: 0;
  bottom: 0;

  z-index: -1;
}
.curr-temp {
  font-size: 44px;
  font-weight: 700;
}
.img-container p {
  font-size: 12px;
  font-weight: 500;

  text-transform: uppercase;
}
.feels-like-curr-temp {
  margin-top: 5px;

  font-size: 22px;
  font-weight: 700;
}
.weather-icon {
  width: 65px;
  margin-top: 10px;

  position: absolute;
  top: 45px;
  left: 25px;
}

.weather-desc {
  font-weight: 700;

  text-align: left;
}

/* _________________________________________ */
/* INFO Container */
/* _________________________________________ */

.info-container {
  padding: 25px;
  border-radius: 0 20px 20px 0;

  box-sizing: border-box;
}
.location {
  display: inline;

  font-size: 33px;
  font-weight: 500;
}
.postcode {
  display: inline;

  font-size: 22px;
}
.curr-day {
  font-size: 12px;
  font-weight: 500;
}
.curr-time {
  margin-top: 5px;

  font-size: 24px;
  font-weight: 700;
}

/* _______________________ */
/* Details Tiles */

.details-container {
  padding: 5px;
  border-radius: 20px;
  margin-top: 25px;

  display: inline-grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  gap: 5px;

  box-sizing: border-box;
}
.curr-day-info-tile {
  padding: 5px;

  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 40px auto;

  box-sizing: border-box;
  text-align: start;
}

.tile-icon {
  width: 30px;

  align-self: center;
}
.sun-rise-set-icon {
  width: 50px;
  margin-top: -10px;
  margin-left: -5px;
}
.curr-day-info-tile h3 {
  margin: auto 0;

  font-size: 14px;
  font-weight: 400;
}

/* _________________________________________ */
/* Weather Forecast */
/* _________________________________________ */

.weather-forecast {
  padding: 5px;
  border-radius: 20px;
  margin-top: 25px;

  box-sizing: border-box;
}
.weather-forecast-sections {
  padding: 0 5px;
}
.weather-forecast-sections h6 {
  display: inline;

  font-size: 12px;
}
.disp-hourly {
  font-weight: 700;
  margin-right: 5px;
}
.disp-daily {
  font-weight: 500;
}
.disp-hourly:hover,
.disp-daily:hover {
  cursor: pointer;
}
.forecast-tile {
  padding: 5px;
  border-radius: 20px;

  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

.forecast-time-date {
  font-size: 12px;
}
.forecast {
  width: 400px;
  height: 140px;
  padding: 10px;

  display: grid;
  grid-template-rows: auto;
  gap: 5px;

  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
}

/* _________________________________________ */
/* Hourly Forecast */

.hourly-forecast {
  grid-template-columns: repeat(48, auto);
}
.hourly-tile {
  width: 50px;
}
.hourly-icon {
  width: 40px;
  margin: 0 auto;
}
.hourly-forecast-temp {
  font-size: 14px;
}

/* _________________________________________ */
/* Daily forecast */

.daily-forecast {
  grid-template-columns: repeat(8, auto);
}
.daily-tile {
  width: 70px;
}
.daily-icon {
  width: 35px;
  margin: 0 auto;
}
.daily-forecast-temp {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 50%);
  gap: 5px 0;
}
.daily-forecast-temp img {
  width: 20px;
  margin: 0 auto;
}
.daily-forecast-temp h3 {
  font-size: 12px;

  align-self: center;
}

/* _________________________________________ */
/* Styles day */
/* _________________________________________ */
.font-color-day {
  color: var(--night-background-color);
}
.text-shadow-day {
  text-shadow: 3px -3px 3px var(--day-color-shadow);
}
.border-right-day {
  border-right: 14px double var(--day-additional-color);
}
.box-shadow-day {
  box-shadow: 6px 6px 16px var(--day-neuromorphism-color-1),
    -6px -6px 16px var(--day-neuromotphism-color-2);
}
.filter-darkblue {
  filter: invert(9%) sepia(21%) saturate(2140%) hue-rotate(172deg)
    brightness(93%) contrast(94%);
}
.filter-yellow {
  filter: invert(88%) sepia(79%) saturate(5069%) hue-rotate(318deg)
    brightness(102%) contrast(91%);
}
.background-color-day {
  background-color: var(--day-background-color);
}
.border-day {
  border: 2px solid var(--day-additional-color);
}
/* _________________________________________ */
/* Styles night */
/* _________________________________________ */
.font-color-night {
  color: var(--day-background-color);
}
.text-shadow-night {
  text-shadow: 0px -1px 2px var(--night-additional-color);
}
.border-right-night {
  border-right: 14px double var(--night-additional-color);
}
.box-shadow-night {
  box-shadow: 6px 6px 16px var(--night-neuromorphism-color-1),
    -6px -6px 16px var(--night-neuromorphism-color-2);
}
.filter-white {
  filter: invert(90%) sepia(0%) saturate(5%) hue-rotate(166deg) brightness(83%)
    contrast(97%);
}
.filter-grey {
  filter: invert(90%) sepia(0%) saturate(5%) hue-rotate(166deg) brightness(83%)
    contrast(97%);
}
.background-color-night {
  background-color: var(--night-background-color);
}
.border-night {
  border: 2px solid var(--night-additional-color);
}

/* _________________________________________ */
/* Other */
/* _________________________________________ */
.font-weight-500 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}

.center {
  text-align: center;
}

.hidden {
  display: none !important;
}

/* Grid Columns */
.col-1 {
  grid-column: 1 / 2;
}
.col-2 {
  grid-column: 2 / 3;
}
.col-3 {
  grid-column: 3 / 4;
}
.col-4 {
  grid-column: 4 / 5;
}

/* Grid Rows */
.row-1 {
  grid-row: 1 / 2;
}
.row-1-span-2 {
  grid-row: 1 / span 2;
}
.row-2 {
  grid-row: 2 / 3;
}
.row-3 {
  grid-row: 3 / 4;
}

.error-message {
  display: inline;

  position: absolute;
  bottom: -15px;
  right: 35px;

  font-size: 12px;
  color: red;
  opacity: 0.8;
}
