@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap");

/* font sizes: 12px, 14px, 20px, 22px, 33px, 44px */

:root {
  --day-background-color: #e6e6ee;
  --day-color-shadow: #d2d2da;
  --night-background-color: #0e1f31;
  --night-color-shadow: #0a1522;
  --scrollbar-color: #0e1f31;
  --day-neuromorphism-color-1: #cfcfd6;
  --day-neuromotphism-color-2: #fdfdff;
  --night-neuromorphism-color-1: #08131d;
  --night-neuromorphism-color-2: #142b45;
  --day-additional-color: #f3c950;
  --night-additional-color: #d5d5d5;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
}
/* _______________________ */

/* Scrollbar */
*::-webkit-scrollbar {
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: var(--day-background-color);
  border-radius: 15px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border: 0px solid var(--day-background-color);
  border-radius: 15px;
}
.container {
  height: 440px;
  margin: 30px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  color: var(--night-background-color);
  letter-spacing: -0.5px;
  text-shadow: 3px -3px 3px var(--day-color-shadow);
}

/* _________________________________________ */
/* IMG Container */
/* _________________________________________ */

.img-container {
  width: 250px;
  padding: 25px;
  border-right: 14px double var(--day-additional-color);
  border-radius: 20px 0 0 20px;

  position: relative;

  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 6px 6px 16px var(--day-neuromorphism-color-1),
    -6px -6px 16px var(--day-neuromotphism-color-2);

  text-align: right;
}
.time-img {
  width: 100%;

  position: absolute;
  right: 0;
  bottom: 0;

  z-index: -1;
}
.curr-temp {
  font-size: 44px;
  font-weight: 700;
}
.img-container p {
  font-size: 12px;
  font-weight: 500;

  text-transform: uppercase;
}
.feels-like-curr-temp {
  margin-top: 5px;

  font-size: 22px;
  font-weight: 700;
}
.weather-icon {
  width: 65px;
  margin-top: 10px;

  position: absolute;
  top: 45px;
  left: 25px;

  filter: invert(9%) sepia(21%) saturate(2140%) hue-rotate(172deg)
    brightness(93%) contrast(94%);
}

.weather-desc {
  font-weight: 700;

  text-align: left;
}

/* _________________________________________ */
/* INFO Container */
/* _________________________________________ */

.info-container {
  padding: 25px;
  border-radius: 0 20px 20px 0;

  background-color: var(--day-background-color);

  box-sizing: border-box;
  box-shadow: 6px 6px 16px var(--day-neuromorphism-color-1),
    -6px -6px 16px var(--day-neuromotphism-color-2);
}
.location {
  font-size: 33px;
  font-weight: 500;
}
.curr-day {
  font-size: 12px;
  font-weight: 500;
}
.curr-time {
  margin-top: 5px;

  font-size: 24px;
  font-weight: 700;
}

/* _______________________ */
/* Details Tiles */

.details-container {
  padding: 5px;
  border-radius: 20px;
  margin-top: 25px;

  display: inline-grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  gap: 5px;

  box-sizing: border-box;
  box-shadow: 6px 6px 16px var(--day-neuromorphism-color-1),
    -6px -6px 16px var(--day-neuromotphism-color-2);
}
.curr-day-info-tile {
  padding: 5px;

  display: inline-grid;
  grid-template-rows: auto;
  grid-template-columns: 40px auto;

  box-sizing: border-box;
  text-align: start;
}

.tile-icon {
  width: 30px;

  filter: invert(88%) sepia(79%) saturate(5069%) hue-rotate(318deg)
    brightness(102%) contrast(91%);

  align-self: center;
}
.sun-rise-set-icon {
  width: 50px;
  margin-top: -10px;
  margin-left: -5px;
}
.curr-day-info-tile h3 {
  margin: auto 0;

  font-size: 14px;
  font-weight: 400;
}

/* _________________________________________ */
/* Weather Forecast */
/* _________________________________________ */

.weather-forecast {
  padding: 5px;
  border-radius: 20px;
  margin-top: 25px;

  box-sizing: border-box;
  box-shadow: 6px 6px 16px var(--day-neuromorphism-color-1),
    -6px -6px 16px var(--day-neuromotphism-color-2);
}
.weather-forecast-sections {
  padding: 0 5px;
}
.weather-forecast-sections h6 {
  display: inline;

  font-size: 12px;
}
.disp-hourly {
  font-weight: 700;
  margin-right: 5px;
}
.disp-hourly:hover {
  cursor: pointer;
}
.disp-daily {
  font-weight: 500;
}
.disp-daily:hover {
  cursor: pointer;
}
.forecast-tile {
  padding: 5px;
  border-radius: 20px;

  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}
.tile-border-day {
  border: 2px solid var(--day-additional-color);
}
.tile-border-night {
  border: 2px solid var(--night-additional-color);
}
.forecast-icon-color-day {
  filter: invert(9%) sepia(21%) saturate(2140%) hue-rotate(172deg)
    brightness(93%) contrast(94%);
}
.forecast-icon-color-night {
  filter: invert(88%) sepia(5%) saturate(1117%) hue-rotate(202deg)
    brightness(110%) contrast(86%);
}
.forecast-time-date {
  font-size: 12px;
}
.forecast {
  width: 400px;
  height: 130px;
  padding: 5px;

  display: grid;
  grid-template-rows: auto;
  gap: 5px;

  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;
  text-align: center;
}

/* _________________________________________ */
/* Hourly Forecast */

.hourly-forecast {
  grid-template-columns: repeat(48, auto);
}
.hourly-tile {
  width: 50px;
}
.hourly-icon {
  width: 40px;
  margin: 0 auto;
}
.hourly-forecast-temp {
  font-size: 14px;
}

/* _________________________________________ */
/* Daily forecast */

.daily-forecast {
  grid-template-columns: repeat(8, auto);
}
.daily-tile {
  width: 70px;
}
.daily-icon {
  width: 35px;
  margin: 0 auto;
}
.daily-forecast-temp {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, 50%);
  gap: 5px 0;
}
.daily-forecast-temp img {
  width: 20px;
  margin: 0 auto;
}
.daily-forecast-temp h3 {
  font-size: 12px;

  align-self: center;
}

/* _________________________________________ */
/* Other */
/* _________________________________________ */

.hidden {
  display: none;
}

/* Grid Columns */
.col-1 {
  grid-column: 1 / 2;
}
.col-2 {
  grid-column: 2 / 3;
}
.col-3 {
  grid-column: 3 / 4;
}
.col-4 {
  grid-column: 4 / 5;
}

/* Grid Rows */
.row-1 {
  grid-row: 1 / 2;
}
.row-2 {
  grid-row: 2 / 3;
}
.row-3 {
  grid-row: 3 / 4;
}
