@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --main-text-color: #16697a;
  --second-text-color: #489fb5;
  --third-text-color: #82c0cc;
  --background-color: #ede7e3;
  --additional-color: #ffa62b;
}

* {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
}
.curr--weather--box--border {
  background: rgb(156, 50, 254);
  background: linear-gradient(
    135deg,
    rgba(156, 50, 254, 1) 0%,
    rgba(90, 108, 234, 1) 44%,
    rgba(18, 171, 209, 1) 100%
  );
  width: 350px;
  height: 550px;
  padding: 8px;
  border-radius: 25px;
  margin: 20px auto;
}
.curr--weather--box {
  width: 300px;
  padding: 25px;
  background-color: #e2eafc;
  border-radius: 25px;
  height: 500px;
}

.location {
  text-align: center;
  color: #5800aa;
  font-weight: 700;
  font-size: 24px;
}

.weather--icon {
  width: 250px;
}
